.site-header {
    padding: 40px 0 74px;
}
.header {
    @include Display($items:center, $space:space-between, $gap:0px);
}
.header__logo-wrapper {
    @include Display($items:center, $space:start, $gap:64px);
}
.header__logo-link {
    display: inline-block;
}
.header__list {
    @include Display($items:center, $space:start, $gap:40px);
}
.header__link {
    @include textStyle($MB:0px, $FS:15px, $FW:700, $CLR:$text-clr, $LH:17px, $CASE:capitalize);

    &:hover{
        color: #36536B;
    }
}
.header__link-demo {
    @include buttonStyle($BTN_W:173px, $BTN_PY:15px, $BTN_BG_CLR:$pink-clr,$BTN_BR_Radius:30px, $BTN_Border_CLR:transparent,$BTN_FS:16px,$BTN_FW:700, $BTN_LH:17px, $BTN_CLR:$white-clr,$BTN_CASE:inherit);
    text-align: center;
    margin-left: auto;
    &:hover{
        opacity: 75%;
    }
}
.header__hamburger-button{
    border: none;
    background-color: transparent;
    display: none;
}

@media (max-width:850px){
    .site-header{
        padding: 40px 0 48px;
    }
    .header__logo-img{
        width: 135px;
        height: 38px;
    }
}
@media (max-width:689px){
    .site-header{
        padding: 40px 0 32px;
    }
    .header__list{
        display: none;
    }
    .header__link-demo{
        display: none;
    }
    .header__hamburger-button{
        display:block
    }
}
